.dashboard {
    background: linear-gradient(252.44deg, rgba(66, 0, 255, 0.3) 0%, rgba(60, 3, 224, 0.138) 100%), linear-gradient(287.56deg, rgba(0, 146, 76, 0.89) 0%, rgba(3, 15, 11, 0.87) 100%);
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cardContainer {
    height: auto;
    width: 90vw;
    margin-top: 5vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    column-gap: 2vw;
    row-gap: 8vh;
    margin-bottom: 10vh;
}

.grid-item1 {
    height: 41vh;
    background-image: url('../photos/PokéfyCardTest.png');
    background-size: cover;
    cursor: pointer;
}

.grid-item{
    height: 41vh;
    background-image: url('../photos/PokéfyCardProto.png');
    background-size: cover;
}